:root {
  --font: "proxima-nova", sans-serif;
  --red: rgb(242, 32, 18);
  --blue: rgb(0, 55, 142);
  --light-blue: #023281;
  --button-hover-transiton: all 200ms ease-in-out;
  --button-border-radius: 30px;
  --box-shadow: 10px 10px 20px rgba(0, 55, 142, 0.3);
}

body {
  font-family: "proxima-nova", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-size: 96px;
}

h2 {
  text-align: center;
  font-size: 72px;
  line-height: 72px;
  padding-top: 50px;
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

h4 {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-weight: 400;
}

button {
  background: var(--red);
  text-decoration: none;
  padding: 15px 20px;
  border: none;
  border-radius: var(--button-border-radius);
  transition: var(--button-hover-transiton);
  box-shadow: var(--box-shadow);
  font-weight: 500;
  font-size: 18px;
  font-family: var(--font);
}

header {
  display: flex;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/the-super-mario-bros-movie-2023.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: white;
}

a:hover {
  color: var(--red);
}

/* a:hover {
  color: var(--blue);
} */

.hero {
  color: white;
}
.hero h1 {
  line-height: 60px;
  font-size: 96px;
  display: inline;
}

.hero h2 {
  font-size: 36px;
  margin: 0;
  padding-top: 20px;
}

.hero h3 {
  letter-spacing: 4px;
}

.arrow-down .fa-arrow-down {
  font-size: 72px;
}

.fa-arrow-down a {
  color: white;
}

.meet-cast,
.interviews h2 {
  color: var(--blue);
}

.buzz h2 {
  color: white;
}

.meet-cast,
.interviews {
  padding-bottom: 50px;
}

.grid {
  display: grid;
  grid-gap: 10px;
}

footer .grid {
  grid-gap: 30px;
}

.grid-characters {
  margin: 0 50px;
  grid-template-columns: repeat(6, 1fr);
}

.grid-videos,
.grid-buzz {
  margin: 0 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.grid-interviews {
  margin: 0 100px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.grid-3-columns-with-first-narrow {
  margin: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.character {
  width: 100%;
  border-radius: 6px;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}

.character:hover {
  filter: brightness(108%) contrast(101%) grayscale(101%) saturate(101%);
}

.char-name,
.actor {
  display: block;
  text-align: center;
}

.char-name {
  font-size: 22px;
  line-height: 22px;
  color: var(--red);
  margin-top: 10px;
  margin-bottom: 0;
}

.actor {
  font-size: 16px;
  color: var(--blue);
  margin-top: 2px;
}

.card {
  background: white;
  margin: 0 0 30px;
  box-shadow: var(--box-shadow);
}

.card-title {
  padding: 20px 20px 10px;
}
.card-body {
  padding: 10px 30px;
}

.card-footer {
  padding: 20px;
  text-align: center;
}

.buzz {
  background-color: var(--red);
  margin: 0 auto;
  padding-bottom: 100px;
}

.buzz p {
  color: var(--blue);
}

.buzz button {
  background: var(--blue);
  font-weight: 800;
  padding-bottom: 20px;
}

.buzz button:hover {
  background: white;
  border: solid 3px var(--red);
}

.buzz a:hover {
  color: var(--blue);
  font-weight: 800;
}

.buzz-image {
  max-width: 100%;
  display: block;
}

.buzz-video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.trailers {
  background-color: var(--blue);
  margin: 0 auto;
  padding-bottom: 100px;
}

.trailers h2 {
  color: white;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

.interviews {
  margin: 0 auto;
  padding-bottom: 100px;
}

.twitter-tweet iframe {
  width: 100% !important;
  margin: 0 auto !important;
  border-radius: 12px !important;
  box-shadow: var(--box-shadow);
}

.power-ups {
  background-color: blue;
  padding: 20px 200px 80px;
}

.power-ups h2 {
  color: white;
}

table {
  color: white;
  border-spacing: 0;
}

th {
  background-color: var(--red);
  height: 40px;
}

td {
  border-bottom: 2px solid white;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(0, 55, 142, 0.8),
      rgba(0, 55, 142, 0.8)
    ),
    url("../images/super_mario_bros_movie.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

footer h3 {
  font-size: 16px;
  line-height: 16px;
}

footer p {
  font-size: 16px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
}

footer a:hover {
  color: var(--red);
}

.playlist {
  padding: 0 50px;
}
.site-info {
  color: white;
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
}

.site-info a {
  color: var(--red);
  font-weight: 800;
  text-decoration: none;
}

.site-info a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 12px;
  line-height: 12px;
}

@media (max-width: 1200px) {
  .grid-interviews {
    grid-template-columns: 1fr 1fr;
    text-align: center !important;
  }

  .grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 1fr;
  }

  .card-body {
    display: none;
  }

  .card-footer {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .hero h1 {
    font-size: 72px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .grid-characters {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-videos,
  .grid-buzz {
    grid-template-columns: repeat(1, 1fr);
    text-align: center !important;
  }
}
@media (max-width: 768px) {
  .grid-characters {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-interviews,
  .grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr;
    text-align: center !important;
  }
  .char-name {
    font-size: 30px;
  }
  .actor {
    font-size: larger;
  }
}

@media (max-width: 400px) {
  .grid-characters {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .char-name {
    font-size: 30px;
  }
  .actor {
    font-size: larger;
  }
}
